/* ion-header {
    
    width: 100%;
    margin-left: 0;
    margin-bottom: -100px;
    display: flex;


}  */
/* .image{
    z-index: 1 !important;
    display: flex !important;
}
 */
/* .menu {
    display: fixed;
    width: 40px;
    height: 40px;
    z-index: auto;
    background-color: aqua;

} */

/* .menu-icon {
    width: 40px;
    height: 40px;
} */